<% include partials/_header %>

<<<<<<< HEAD
=======
    <div class="container">
        <h1>evribady gou to de diskotek</h1>
    </div>
>>>>>>> 0d9baed495469cbbd2b61dfd4e461118c8c89c59
<% include partials/_footer %>