<% include partials/_header %>

    <div id="logo">


        <img src="http://pluspng.com/img-png/logo-mongodb-png-mongodb-logo-anything-but-the-simplest-of-web-applications-requires-a-database-to-store-and-serve-content-from-choosing-the-right-database-and-structuring-413.png" width="302" height="360">


        <h1>GALERIAS</h1>
    </div>
    
<% include partials/_footer %>