<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CRUD Galerias DB</title>
        <!-- BOOTSTRAP 4 CON -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
        <link href= "../../../public/assets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-4 ">
            <a href="/" class="navbar-brand ">CRUD Galerias DB</a>
            

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary ">
                    <a href= "http://localhost:3000/artists"  role="button" class="btn btn-primary">Artist Works</a>
                </label>
                <label class="btn btn-primary">
                    <a href= "http://localhost:3000/customers"  role="button" class="btn btn-primary">Customers</a>
                </label>
                <label class="btn btn-primary">
                    <a href= "http://localhost:3000/transactions"  role="button" class="btn btn-primary">Transactions</a>
                </label>
              </div>
                
        </nav>